<footer class="bg-primary-50 py-8">
  <div class="container">
    <div class="d-flex flex-wrap justify-content-lg-between mb-lg-4">
      <!-- 左側主logo -->
      <div
        class="d-flex flex-lg-column align-items-lg-start align-items-center"
      >
        <a href="#"
          ><img class="mb-6 mb-lg-4" src="/assets/images/Logo.png" alt="LOGO"
        /></a>
        <!-- 左側3個並排小logo -->
        <div class="d-flex">
          <a href="#">
            <img src="/assets/images/ic_facebook.png" alt="ic_facebook"
          /></a>
          <a href="#">
            <img src="/assets/images/ic_instagram.png" alt="ic_instagram"
          /></a>
          <a href="#"><img src="/assets/images/ic_line.png" alt="ic_line" /></a>
        </div>
      </div>
      <!-- 右側navbar -->
      <ul
        class="navbar d-flex flex-column align-items-start flex-lg-row align-items-lg-center"
      >
        <li class="mb-6 mb-lg-0 me-lg-6"><a href="#">商品資訊</a></li>
        <img
          src="/assets/images/Vector 5.png"
          alt="interval"
          class="d-none d-lg-block"
        />
        <li class="mb-6 mb-lg-0 mx-lg-8"><a href="">關於 GLOBE</a></li>
        <img
          src="/assets/images/Vector 5.png"
          alt="interval"
          class="d-none d-lg-block"
        />
        <li class="ms-lg-6"><a href="">味蕾旅行特輯</a></li>
      </ul>
    </div>
    <!-- 公司地址資訊欄 -->
    <div class="footer-address pt-3 mb-3">
      <p class="mb-2">100 台北市中正區重慶南路一段 122 號</p>
      <p class="mb-2">GLOBE 味蕾家股份有限公司</p>
      <p>統一編號：77776666</p>
    </div>
    <p class="pt-3 border-top border-primary-200">
      © Copyright 2024 TTH. All Rights Reserved
    </p>
  </div>
</footer>
